.newsletter{
    width: 65%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 150px;
    background: linear-gradient(180deg,#7af9fd,#8fbaf122 60%);
    gap: 25px;
}
.newsletter h1{
    color: #454545;
    font-size: 30px;
    font-weight: 600;
}

.newsletter p{
    color: #454545;
    font-size: 18px;
    font-weight: 500;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 600px;
    height: 50px;
    border-radius: 80px;
    border:  1px solid #e3e3e3;

}
.newsletter input{
    width: 600px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: black;
    font-family: 'poppins';
    font-size: 14px;
}
.newsletter div button{
    width: 210px;
    height: 50px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;

}